<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\WelcomeMessage\Api\VisitorLocationInterface" type="Training\WelcomeMessage\Model\VisitorLocation" />
    <preference for="Training\WelcomeMessage\Api\Data\LocationDTOInterface" type="Training\WelcomeMessage\Model\Data\LocationDTO" />
</config>
